{% extends "base.html" %}

{% block style %}
.aka > div {
    padding: 5px !important;
    border-radius: 5px;
}
{% endblock %}

{% block content %}
<form id="vote" action="/vote/" method="post">
    <div class="row first">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="name" name="name" class="validate" maxlength="50" required>
            <label for="name">Seu Nome</label>
        </div>
    </div>
    <div class="row aka">
        <div class="col s12 valign-wrapper center-align z-depth-1 deep-orange lighten-4 blue-grey-text text-darken-4">
            <span class="col s12">&nbsp;<b>Votando na Task {{ alternative }}</b>&nbsp;</span>
            <p class="col s12">&nbsp;Valores: 1, 2, 3, 5, 8, 13 &nbsp;</p>
        </div>
    </div>
    <div class="row last">
        <div class="input-field col s12">
            <input type="number" id="value" name="value" class="validate" step="1" min="0" max="13" required>
            <label for="value">Valor</label>
        </div>
    </div>
    <input type="hidden" name="key" value="{{ key }}">
    <input type="hidden" name="alternative" value="{{ alternative }}">
</form>
{% endblock %}

{% block action %}
<button class="btn waves-effect waves-light" type="submit" form="vote">
    Votar
</button>
{% endblock %}

{% block script %}
$(document).ready(() => {
    $('form').submit((e) => {
        let $form = $(e.currentTarget);
        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: $form.serialize()
        }).done(() => {
            M.toast({html: 'Ok! Você Votou! :)', classes: 'rounded'});
        }).fail(() => {
            M.toast({html: 'Oxi! Algo deu errado :(', classes: 'rounded'});
        });
        e.preventDefault();
    });
$(document).ready(function(){
$('select').formSelect();
});
{% endblock %}
